*{
    padding: 0;
    margin: 0;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 100%;
}
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: aquamarine; Set the background color to aquamarine */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background-color: #80cc28;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}
.logo-box{
    padding: 0px 30px;
}

.logo{
    text-decoration: none;
    color: white;
}

.searchBar{
    background-color: #fff;
    border-radius: 30px;
    padding: 5px 30px 5px 30px;
}

.searchBar input{
    background: transparent;
    border: none;
    outline: none;
    /* text-align: center; */
}

.navbar{
    padding: 0 30px;
}
.navbar button {
    border-radius: 10px;
    border: none;
    padding: 5px;
    text-align: center;
}

.navbar .login-header{
    background-color: #80cc28;
    color: white;
    padding: 5px 15px;
    cursor: pointer;
    transition: .5s;
}

.navbar .login-header:hover{
    background-color: #fff;
    color:#80cc28;
}

.navbar .register-header{
    padding: 5px 15px;
    color: #80cc28;
    cursor: pointer;
    transition: .5s;
}

.navbar .register-header:hover{
    background-color: #80cc28;
    color: white;
}



.wrapper{
    background-color:whitesmoke;
    padding: 50px;
    border-radius: 15px;
    /* border: 2px solid #80cc28; */
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    position: relative;
    width: 400px;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .login-box{
    width: 100%; 
    padding: 40px;
}   

.login-box h2{
    font-size: 2em;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0px;    
}

.input-box input{
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.input-box p{
    padding-bottom: 5px;
}
.input-bar {
    background-color: #fff;
    border-radius: 30px;
    width: px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adjust shadow as needed */
}

.input-bar input{
    border: none;
    outline: none;
    width: 100%;
}


.green-btn{
    
  background-color: #FFFFFF;
  border: 1px solid #80cc28;
  border-radius: 8px;
  box-sizing: border-box;
  color: #80cc28;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 5px;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}
.green-btn:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
  }
.green-btn:active {
    background-color: #F7F7F7;
    border-color: #000000;
    transform: scale(.96);
  }
.green-btn:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
  }


.red-btn {
    background-color: #FFFFFF;
    border: 1px solid red;
    border-radius: 8px;
    box-sizing: border-box;
    color: red;
    cursor: pointer;
    display: inline-block;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 5px;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
  }
.red-btn:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
  }
  
.red-btn:active {
    background-color: #F7F7F7;
    border-color: #000000;
    transform: scale(.96);
  }
.red-btn:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
  }

footer {
    background-color: #80cc28;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: fixed; /* Fix the footer to the bottom */
    bottom: 0; /* Position it at the bottom of the viewport */
}

footer p{
    color: white    ;
}